#root {

  margin: 0 auto;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: #ad8c8c;
}


 body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}